/* Para responsividade usei a metodologia do "THINKING MOBILE FIRST"*/

// Paleta de cores
@blue-title: #345d93;
@blue-dark: #24457b;
@blue-default: #345189;
@blue: #049cdb;
@grayLight: #999;
@warning: 	#ff0000;
@blue-light: #ebf6fc;
@orange-light: #c5964b;

// Sizes
@baseFontSize: 1rem;
@fontSizeXXS: 0.5rem;
@fontSizeXS: 0.675rem;
@fontSizeSM: 1.5rem;
@fontSizeMD: 1.75rem;
@fontSizeLG: 2rem;

// Fontes
@fonte_h1: bold @fontSizeLG "Roboto", Arial;
@fonte_h2: bold @fontSizeMD "Roboto", Arial;
@fonte_mobile: bold @baseFontSize "Roboto", Arial;

.body-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: @blue-light;

}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.section1 {
  padding-top: 1rem;
  padding-left: 0.5rem;
  border-bottom: 1px solid @blue-title;
  max-width: 576px;

  &__title {
    color: @blue-title;
    font: @fonte_mobile;
    text-align: center;

    @media (min-width: 460px) {
      font: @fonte_h1;
      text-align: start;
    }
  }

  &__subtitle {
    color: @blue-dark;
    font-size: @fontSizeXS;

    @media (min-width: 460px) {
      font-size: @baseFontSize;
    }
  }
}

.cake {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 390px) {
    flex-direction: row;
  }


  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  max-width: 576px;

  &__img {
    width: 100%;
    height: 100%;
    max-width: 180px;
    max-height: 180px;

    @media (max-width: 460px) {
      max-width: 150px;
      max-height: 150px;
    }
  }
}

.form {
  padding: 0 1rem;

  .col-form-label {
    color: @blue-default;
    font-size: @fontSizeXS;
    text-align: justify;
    margin: 0.5rem 0;

    @media (min-width: 768px) {
      font-size: @baseFontSize;
    }
  }

  &__subtitle {
    color: @blue-title;
    font: @fonte_mobile;
    text-align: start;
    text-decoration: underline;

    @media (min-width: 768px) {
      font: @fonte_h2
    }
  }

  .required {
    color: @warning;
  }

  .receipt {
    color: @orange-light;
    font-size: @fontSizeXS;
    padding-left: 0.1rem;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-label {
    margin: 0.5rem 0;
    color: @blue-default;
    font-size: @baseFontSize;
  }

  .btn__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn {
    text-transform: uppercase;
    font-weight: bold;;
    border-radius: 100px;
    padding: 0.5rem 1.5rem;
    font-size: @fontSizeXS;
    background-color: @blue-dark;

    @media (min-width: 768px) {
      font-size: @baseFontSize;
    }

    &:hover {
        background-color: @blue-title;
    }
  }
}
